body{
  background-color: rgb(10, 209, 143) ;
}

#root {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
  margin: auto;
  justify-content: center;
}

fieldset {
  margin: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgba(6, 148, 173, 0.788);
  border-radius: 25px;
  border: 2px solid white;
}

input {
  margin: 5px;
  border-radius: 5px;
}

label {
  margin-right: 0.125rem;
}

.epDiv {
  display: inline-block;
  background-color: rgba(106, 9, 197, 0.788);
  border-radius: 25px;
  text-align: center;
  border: 2px solid white;
  box-shadow: 5px 5px 5px 5px rgb(117, 115, 109);
}

.epTitle {
  padding: 0 5px;
  font-size: 1.5rem;
}

.epDescription {
  padding: 0 5px;
  margin: 0 5px;
}

.epImg {
  border-radius: 2.5px;
  width: 100%;
}

footer {
  margin-top: 1rem;
}